{% extends "website_base.html" %}
{% load static %}


{% block content %}
<div id="cover-spin" class="invisible"></div>
<div class="container mb-3" style="margin-top:100px;max-width:450px;">
  <div class="row">

    {% if error_code %}
    <div class="col-12">
      <div class="alert alert-danger m2-3">

        <p>
          There was an error processing your card.
          Please try again or contact your bank for details.
        </p>

        <p class="mb-0">
          <span class="font-weight-bold">Error Code:</span> {{ error_code }}
        </p>

      </div>
    </div>
    {% endif %}

    <div class="col-12">

      <h4 class="font-weight-bold text-center">
        Donate to the GKAA
      </h4>

      <hr>

      <p>
        Please choose from the options below or enter a different
        amount in the blue box.
      </p>

    </div>

    <div class="col-12">
      <div class="btn-group btn-group-lg full-width">
        <label class="btn btn-light border">
          <input class="donation_radio" type="radio" name="donation_choice" value="25"> $25
        </label>
        <label class="btn btn-light border" >
          <input class="donation_radio" type="radio" name="donation_choice" value="50"> $50
        </label>
        <label class="btn btn-light border">
          <input class="donation_radio" type="radio" name="donation_choice" value="100"> $100
        </label>
      </div>
    </div>

    <div id="clearRadioContainer" class="col-12 d-none">
      <button id="clearRadioBtn" type="button" class="btn btn-info btn-block">
        Clear All Selections
      </button>
    </div>

    <div class="col-12 mt-3">
      <div class="alert alert-info pt-3">

        <div class="form-group mx-auto">

          <p class="font-weight-bold text-center mt-1 mb-2" style="font-size:1.25em;">
            Donation Amount
          </p>

          <input id="donationOther" class="form-control mx-auto" type="tel"
          name="donation_other" style="height:50px;font-size:1.75em;width:150px;text-align:center;">
        </div>

      </div>
    </div>

    <div class="col-12">

      <div class="form-group">
        <label for="">Name</label>
        <input id="payment_name" class="form-control" type="text" name="payment_name" required>
      </div>

      <div class="form-group">
        <label for="">Email Address</label>
        <input id="payment_email" class="form-control" type="text" name="payment_email" required>
        <span id="payment_email_error"
          class="text-sm text-danger d-none">Please enter valid email address</span>
      </div>

      <div class="form-group">
        <label for="">Note (optional)</label>
        <textarea class="form-control" id="payment_note" name="payment_note"
          rows="3" placeholder="Why are you donating today?"></textarea>
      </div>


    </div>

    <div class="col-12">
      <div class="form-group">
        <label for="card-element">Credit Card Info</label>
        <div class="" id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <div id="card-errors" role="alert"></div>
      </div>
    </div>

    <div class="col-12">

      <div id="amount_error" class="text-sm text-danger" role="alert"></div>

      <button id="paymentBtn" type="button" class="btn btn-gold btn-lg btn-block">
        Pay w/ Credit Card
        <span id="paymentBtnAmount" class="font-weight-bold"></span>
      </button>

      {% csrf_token %}
      <input type="hidden" id="stripe_pk" name="stripe_pk" value="{{ stripe_pk }}">
      <input type="hidden" id="payment_amount" id="payment_amount" value="0">
      <input type="hidden" id="payment_type" name="payment_type" value="donation">
      <input type="hidden" id="payment_type_id" name="" value="id">

    </div>

  </div>
</div>
{% endblock %}
