{% extends "websitebase.html" %}

{% block content %}
<div class="container" style="margin-top:25px;max-width:450px;">
  <div class="row">

    <div class="col-12">

      <h1 class="fw-bold">
        {{ event }}
      </h1>

      <hr>

    </div>

    <div class="col-12">

      <div id="totalError">
        <p>Enter number of attendees:</p>
      </div>

      <ul class="list-group">
        {% for sub in subevent_list %}
          <li class="list-group-item">
            <div class="row d-flex align-items-center">
              <div class="col-8 col-md-9">
                  {{ sub }}
              </div>
              <div class="col-4 col-md-3">
                <input class="form-control text-center qty" type="text"
                  placeholder="QTY" data-id="{{ sub.id }}">
              </div>
            </div>
          </li>
        {% endfor %}

      </ul>
    </div>

    <div class="col-12 my-3">

      <label class="font-weight-bold" for="registerType">
        Choose Your Registration Type
      </label>

      <div class="mb-3">
        <select id="registerType" class="form-control">
          <option value="0">Registration Type</option>
          <option value="1">Alumnus</option>
          <option value="2">Current Team</option>
          <option value="3">Honorary GK</option>
          <option value="4">Other</option>
        </select>
        <div class="form-error" id="registerTypeError"></div>
      </div>

    </div>

    <div class="col-12">

      <div class="mb-3">
        <label for="">Full Name</label>
        <input id="registerName" class="form-control"
          type="text" placeholder="Full Name">
        <div class="form-error" id="registerNameError"></div>
      </div>

      <div class="mb-3">
        <label for="">Email Address</label>
        <input id="registerEmail" class="form-control" type="email"
          placeholder="Email Address">
        <div class="form-error" id="registerEmailError"></div>
      </div>

      <div class="mb-3 d-grid">
        <button id="registerBtn" class="btn btn-gold btn-lg">
          Register
        </button>
        {% csrf_token %}
        <input id="registerEvent" type="hidden" value="{{ event.short_code }}">
      </div>

    </div>

  </div>
</div>
{% endblock %}
