{% extends "website_base.html" %}
{% load static %}


{% block content %}
<div class="container mb-3 p-3" style="margin-top:85px;max-width:450px;">

  <div class="row">

    <div class="col-12">

      <h1 class="mb-0" style="font-size:32px;">
        {{ event }}
      </h1>

      <p class="my-0">
        {{ event.date }}
      </p>

      {% if not event.is_closed %}

      <a class="btn btn-gold btn-lg btn-block my-3"
        href="{% url 'website:event-register' event.short_code %}">
        Register for Event
      </a>

      {% else %}

      <div class="alert alert-danger text-center mt-3">
        Online registration is closed.<br>
        {{ event.closed_message }}
      </div>

      {% endif %}

    </div>

    {% if not event.is_closed %}
    <div class="col-12">
      {{ event.description | safe }}
    </div>
    {% endif %}

  </div>

</div>
{% endblock %}
