{% extends "websitebase.html" %}
{% load static %}

{% block content %}
<div class="container mb-3" style="margin-top:25px;max-width:400px;">
  <div class="row">

    <div class="col-12 text-md">


        {% if total %}

        <h3 class="fw-bold text-center">
          Paid!
        </h3>

        <p class="text-center">
          Check your email for a receipt.
        </p>

        {% else %}

        <h2 class="fw-bold text-center mb-0">
          You are Registered!
        </h2>

        <p class="my-0 text-center">
          See details below.
        </p>

        {% endif %}<!-- end if no total (free w/ dues) -->

        <hr/>

        <p>
          As promised, this party is 100% free!
        </p>

        <p>
          Because the GKAA is a non-profit organization, annual dues and
          donations are always needed.
        </p>

        <p>
          If you are an <strong>Alumnus</strong> and have not paid your annual dues...
        </p>

        <p>
          ...or an Alumnus, Honorary GK, current team member or
          friend of the team and would like to make a donation,
          you can do so using one of the following links.
        </p>

        <div class="d-grid mb-3">
          <a class="btn btn-gold btn-lg"
            href="{% url 'website:pay-dues'%}">
            Pay Annual Dues
          </a>
        </div>

        <div class="d-grid">
          <a class="btn btn-dark btn-lg"
            href="{% url 'website:donate'%}">
            Make a 501(c)(19) Donation
          </a>
        </div>


        <hr>

        <p class="my-0">
          <strong>Event:</strong> {{ registration.event.name }}
        </p>

        {% if subevent_list %}
        <ul class="my-0">
          {% for sub in subevent_list %}
            <li>
              {{ sub.name }} ({{ sub.quantity }})
            </li>
          {% endfor %}

          {% if registration.dues_added %}
            <li>Annual Dues ($50)</li>
          {% endif %}

        </ul>
        {% endif %}

        <p class="my-0">
          <strong>Name:</strong> {{ registration.name }}
        </p>

        <p class="my-0">
          <strong>Email:</strong> {{ registration.email_display }}
        </p>

        <p class="my-0">
          <strong>Date:</strong> {{ registration.date }}
        </p>

        {% if registration.add_dues %}
        <p class="my-0">
          <strong>2020 Dues:</strong> $50
        </p>
        {% endif %}

        <p class="my-0">
          <strong>Payment Total:</strong> ${{ total }}
        </p>

    </div>

    <!-- TEMP-->
    <div style="margin:15px;"></div>

  </div>
</div>
{% endblock %}
