{% extends "websitebase.html" %}

{% block content %}

<style>
  p{
    font-size:20px;
  }
</style>
<div class="container mb-3 p-3" style="max-width:450px;">

  <div class="row">

    <div class="col-12">

      <h1 class="fw-bold mb-0">
        {{ event }}
      </h1>

      <p class="my-0">
        December 3rd @ 1700
      </p>

      <hr/>

      {% if event.is_closed %}

      <div class="alert alert-danger text-center mt-3">
        {{ event.closed_message }}
      </div>

      {% endif %}

    </div>

    <div class="col-12">
      {{ event.description | safe }}
    </div>


    {% if not event.is_closed %}
    <div class="d-grid" style="margin-bottom:50px;">
      <a class="btn btn-gold btn-lg"
        href="{% url 'website:event-register' event.short_code %}">
        Don't Delay, Register Today!
      </a>
    </div>
    {% endif %}

  </div>

</div>
{% endblock %}
