{% extends "websitebase.html" %}
{% load static %}

{% block content %}
<div class="hero-home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mb-0">
          US ARMY
          <span class="d-block d-md-none"></span>
          GOLDEN KNIGHTS
        </h1>
        <h2 class="my-0">
          ALUMNI ASSOCIATION
        </h2>

      </div>
    </div>
  </div>
</div>

<div class="container container-sm my-5">
  <div class="row">
    <div class="col-12">

      <h3 class="h2 fw-bold">
        Golden Knight Creed
      </h3>

      <p>
        When I have gained the respect, admiration and gratitude of the
        American Public and
        <span class="d-lg-block"></span>
         my teammates, then I have fulfilled my mission
        <span class="d-md-block d-lg-none"></span>
        as a Golden Knight.
      </p>

      <p>
        <a href="#">
          Read the full creed &raquo;
        </a>
      </p>

    </div>
  </div>

</div>

<div class="container container-his my-5">
  <div class="row d-flex align-items-center">

    <div class="col-lg-6">

        <img class="img-fluid d-block mx-auto w-100"
        src="{% static 'website/images/us_team_1963.jpg' %}" alt="Original Team">

    </div>

    <div class="col-lg-6">

      <h3 class="h2 fw-bold mt-3 mt-lg-0">
        How It Started
      </h3>

      <p>
        In 1959 – after WWII – the Russians dominated sport skydiving.
        General Stilwell wanted that honor to belong
        the United States and the U.S. Army.
      </p>

      <p>
        He gathered seven Airborne Soldiers from various units and
        formed the Strategic Army Command Parachute Team.
      </p>

      <p>
        Also known as STRAC.
      </p>

      <p>
        <a href="#">Keep reading to see how it ends &raquo;</a>
      </p>

    </div>
  </div>
</div>

<div class="bg-black py-5">
  <div class="container">
    <div class="row">

      <div class="col-12">

        <h4 class="text-center font-weight-bold mb-0 d-block d-sm-none">
          Golden Knights in Action
        </h4>

        <h3 class="text-center font-weight-bold mb-0 d-none d-sm-block">
          Golden Knights in Action
        </h3>

        <p class="text-center text-md">
          <a href="">
            Search The Gallery
          </a>
        </p>

      </div>

      <div class="col-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{% static 'website/images/freefall.jpg' %}" alt="">
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{% static 'website/images/chuck.jpg' %}" alt="">
      </div>
      <div class="col-6 d-block d-md-none d-lg-block col-lg-3">
        <img class="img-fluid mb-3" src="{% static 'website/images/triangle.jpg' %}" alt="">
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{% static 'website/images/tri_by_side.jpg' %}" alt="">
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{% static 'website/images/freefall.jpg' %}" alt="">
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{% static 'website/images/chuck.jpg' %}" alt="">
      </div>
      <div class="col-6 d-block d-md-none d-lg-block col-lg-3">
        <img class="img-fluid mb-3" src="{% static 'website/images/triangle.jpg' %}" alt="">
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <img class="img-fluid mb-3" src="{% static 'website/images/tri_by_side.jpg' %}" alt="">
      </div>

    </div>
  </div>
</div>
{% endblock %}
