{% extends "websitebase.html" %}
{% load static %}

{% block content %}
<div class="container" style="margin-top:50px;max-width:400px;">
  <div class="row">
    <div class="col-12">

      <h1 class="fw-bold">Confirm Member</h1>

      <p>
        You are paying dues for:
      </p>

      <hr/>

      <p class="text-primary text-lg text-center mb-3">
        * {{ profile }} ({{ profile.start_year }})
      </p>

      <div class="d-grid mb-3">
        <a class="btn btn-gold btn-lg"
        href="{% url 'website:pay-dues-charge' profile.uuid %}">
          Yes, this is correct!
        </a>
      </div>

      <div class="d-grid mb-3">
        <a class="btn btn-dark btn-lg"
          href="{% url 'website:pay-dues' %}">
          No. Go back to Member Search
        </a>
      </div>

      <div class="d-grid mb-3">
        <a class="btn btn-outline-secondary btn-lg"
          href="{% url 'website:contact' %}">
          Contact us for help
        </a>
      </div>

    </div>

  </div>
</div>
{% endblock %}
