{% extends "websitebase.html" %}
{% load static %}

{% block content %}
<div class="container mb-3" style="margin-top:50px;max-width:450px;">
  <div class="row">
    <div class="col-12">

      <h1 class="fw-bold">
        Pay Your {{ year }} Dues
      </h1>

      <hr/>

      <p>
        Annual Dues are $50. To pay your dues, enter at least the
        first three characters of your
        <strong>Last Name</strong> in the
        search block below.
      </p>

      <p>
        Then click the blue Pay Dues button next to your name.
      </p>

      <form class="" action="{% url 'website:pay-dues' %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
          <input class="form-control" type="text" name="dues_search"
            placeholder="Enter Your Last Name">
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-gold btn-lg btn-block">
            Search Member Database
          </button>
        </div>

      </form>
    </div>

    <div class="col-12">

      <ul class="list-group mt-3">
        {% for profile in dues_search %}
          <li class="list-group-item d-flex justify-content-between align-items-center">

            <a href="{% url 'website:pay-dues-confirm' profile.uuid %}">
              {{ profile }} ({{ profile.start_year }})
            </a>

            <a class="btn btn-sm btn-primary"
              href="{% url 'website:pay-dues-confirm' profile.uuid %}">
              Pay Dues
            </a>

          </li>
        {% endfor %}
      </ul>

    </div>

  </div>
</div>
{% endblock %}
