{% extends "accountbase.html" %}
{% load static %}

{% block content %}
<div class="container login-container">
  <div class="row">

    <div class="col-12 pb-3">
      <img class="img-fluid d-block mx-auto"
        src="{% static 'account/gray_owls_head.png' %}" alt="Golden Knights Logo"">
    </div>

    <div class="col-12">

      {% if validlink %}

        {% if form.errors %}

        <div class="row">
          <div class="col-12 text-danger py-3">
            {% for field in form %}
              {{ field.errors }}
            {% endfor %}
          </div>
        </div>

        {% endif %}<!--- endif form errors --->


        <h3 class="fw-bold text-center">
          Enter New Password
        </h3>

        <hr/>

        <p class="mb-1">
          Password must:
        </p>

        <ul class="text-sm">
          <li>contain at least 8 characters.</li>
          <li>contain at least 2 numbers.</li>
          <li>cannot be entirely numeric.</li>
        </ul>

        <form method="post">{% csrf_token %}

          <div class="mb-3">
            <label for="">New Password</label>
            <input class="form-control" type="password" name="new_password1" id="id_new_password1" required>
          </div>

          <div class="mb-3">
            <label for="">Confirm Password</label>
            <input class="form-control" type="password" name="new_password2" id="id_new_password2" required>
          </div>

          <div class="d-grid">
            <button class="btn btn-dark" type="submit">
              Submit New Password
            </button>
          </div>

        </form>

      {% else %}<!--- else if not valid link --->

      <p>
        The password reset link was invalid, possibly because it has already been used.
      </p>

      <p>
        <a href="{% url 'account:password-reset' %}">
          Please request a new password reset.
        </a>
      </p>

      {% endif %}<!--- endif valid link --->

    </div>

  </div>
</div>
{% endblock %}
