{% extends "accountbase.html" %}
{% load static %}


{% block content %}
<div class="container login-container">
  <div class="row">

    <div class="col-12 pb-3">
      <img class="img-fluid d-block mx-auto"
        src="{% static 'account/gray_owls_head.png' %}" alt="Golden Knights Logo">
    </div>

    <div class="col-12">
      <p class="text-center fw-bold">
        Your password has been reset!
      </p>
    </div>

    <div class="col-12">
      <div class="d-grid">
        <a class="btn btn-dark" href="{% url 'account:login' %}">
          Login Now
        </a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
