{% extends "accountbase.html" %}
{% load static %}


{% block content %}
<div class="container login-container">
  <div class="row">

    <div class="col-12 pb-3">
      <a href="{% url 'website:index' %}">
        <img class="img-fluid d-block mx-auto"
          src="{% static 'account/gray_owls_head.png' %}">
      </a>
    </div>

    <div class="col-12">

      <h3 class="fw-bold text-center">
        Thank you!
      </h3>

      <p class="text-center">
        Check your email for instructions on
        <span class="d-md-block"></span>
        how to reset your password
      </p>

      <p class="text-center mb-0">
        <a href="{% url 'website:contact' %}">
          Contact us if you need help
        </a>
      </p>

    </div>
  </div>
</div>
{% endblock %}
