{% extends "footer_only_base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'account/account.css' %}">
{% endblock %}

{% block content %}
<div class="container pt-3 pt-md-4">

  <div class="row justify-content-center mb-lg-4">
    <div class="col-12 col-sm-8 col-lg-6">
      <img class="img-fluid d-block mx-auto"
        src="{% static 'account/gray_owls_head.png' %}" alt="Golden Knights Logo">
    </div>

  </div>

  <div class="row justify-content-center">

    <div class="col-12 col-sm-8 col-lg-6 bg-white non-mobile-border px-md-5 py-4">

      <h3 class="font-weight-bold text-center">Existing Account</h3>

      <p class="text-center">
        It looks like you already have a GKAA account. You can reset your password
        by clicking on the following link:
      </p>

      <p class="text-center mt-3">
        <a href="{% url 'account:password-reset' %}">
          Reset Password
        </a>
      </p>

      <p class="text-center">
        <a href="{% url 'website:contact' %}">
          Contact us if you have any questions
        </a>
      </p>

    </div>

  </div>

</div>
{% endblock %}
