{% extends "appbase.html" %}

{% block content %}
<div class="container" style="max-width:568px;">
  <div class="row">

    <div class="col-12">

      <a href="{% url 'app:profile-detail' profile.id %}">
        &laquo Back to {{ profile }}
      </a>

      <h1 class="h3 mt-2">
         {{ title }}
      </h1>

      <hr>

    </div>

    <div class="col-12">
      <form method="post">{% csrf_token %}
        <div class="mb-3">
          <label for="">Add New {{ singular }}</label>
          <input class="form-control" type="text" name="text">
        </div>
        <div class="bg-light border p-2">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="home">
            <label class="form-check-label" for="flexCheckDefault">
              Home Highlight?
            </label>
          </div>
        </div>
        <div class="my-3">
          <div class="d-grid">
            <button class="btn btn-secondary" type="submit">
              Add Entry
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-12">
      <ul class="list-group">
        {% for entry in entry_list %}
          <li class="list-group-item">
            <div class="row d-flex align-items-center">
              <div class="col-10">

                {% if entry.show_on_home %}
                  <i class="fas fa-home"></i>
                {% endif %}

                {{ entry.text }}
              </div>
              <div class="col-2 text-center">
                <a class="text-danger" href="{% url 'app:entry-delete' entry.id %}">
                  <i class="fas fa-trash"></i>
                </a>
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>


  </div>
</div>
{% endblock %}
